/* Nav Bar */

#nucleusLogo {
    width: 50px;
    height: 50px;
    border-radius: 1cm;
    border: whitesmoke solid 2px;
}

.roboto {
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

.dosis {
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
}

#brandingPhilosophy {
    width: 100%;
    height: 18cm;
    background-color: #0C2340;
    /* #c03030; */
    /* background-image: linear-gradient(to bottom right, #375fb4 , #b83f63); */
}

#navBar {
    padding-top: 0px;
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

#navbarNav {
    font-size: 14px;
    font-weight: 600;
}


#navbarNav .dropdown-item {
    font-size: 16px;
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
} 

#brandName {
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
}

#contactNav {
    border-radius: 1cm;
    line-height: 27px;
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
    margin-top: -2px;
    font-weight: 800;
} 

#contactNav:hover {
    color: white;
} 

.btn-outline-light {
    background-color: transparent;
    border-radius: 1cm;
    color: white;
    border-color: white;
    outline: none !important;
    box-shadow: none;
} 

.btn-outline-light:hover, .btn-outline-light:active {
    background-color: white;
    border-color: transparent;
    color: black;
    outline: none !important;
    box-shadow: none;
}



/* Introduction */

#introduction {
    color: white;
}

#introductionText {
    padding-top: 100px;
}

#introductionText h1 {
    font-size: 50px;
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
}

#introductionText button {
    font-size: 20px;
}

#introductionDesc {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

#landingPage {
    padding-top: 80px;
    padding-left: 150px;
}

#landingPageImage {
    border-radius: 1cm;
}

/* Issue */

#issuesContainer {
    margin-bottom: 3cm;
}

.Header {
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
}

#issuesHeader {
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    color: orange;
}

.HeaderTitle {
    font-size: 40px;
}

#issuesHeaderTitle {
    font-size: 40px;
}

.ContentBody {
    padding-top: 2cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

#issuesBody {
    padding-top: 2cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

.issueName {
    font-size: 20px;
    color: orange;
}

.issueName .col {
    font-size: 20px;
    line-height: 40px;
}

#googleMyMap {
    padding-top: 66px;
    padding-bottom: 66px;
    text-align: center;
}

#issueDetails .card:nth-child(n+2) {
    margin-top: 20px;
}

#issueDetails .card {
    border-radius: 0.3cm;
}

#issueDetails .col-3 {
    text-align: center;
}

#issueDetails i {
    color: orange;
}

#issueDetails h6 {
    color: rgb(173, 168, 168);
}

/* Client */

#clientContainer {
    width: 100%;
    height: 48cm;
    background-color: #F5FAFD;
}

#clientHeader{
    color: #375fb4;
}

#clientBody{
    padding-top: 3cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

#clientDetails .container {
    padding-top: 1cm;
}

#clientDetails .card:nth-child(n+2) {
    margin-top: 50px;
}

#clientDetails .card{
    height: 200px;
    background-color: #F5FAFD;
}

#clientDetails .col-3 {
    text-align: center;
}

#clientDetails i {
    color: #375fb4;
}

/* End Users */

#endUsersBody{
    padding-top: 3cm;
}

#endUsersHeader{
    color: #375fb4;
}

#endUsersDetails .card:nth-child(n+2) {
    margin-top: 45px;
}

#endUsersDetails .card{
    height: 120px;
    background-color: #F5FAFD;
}

#endUsersDetails .col-3 {
    text-align: center;
}

#endUsersDetails .col {
    padding-top: 0.5cm;
}

#endUsersDetails i {
    color: #375fb4;
}

/* Meet Our Team */
.annotation {
    color: rgb(173, 168, 168);
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

#aboutUsBody {
    margin-top: 2cm;
}

#aboutUsBody .row {
    margin-bottom: 1.5cm;
}

#aboutUsBody .card {
    background-color : #F5FAFD;
    border-radius: 0.5cm;
    height: 7cm;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 5cm;
}

.avatarDetails {
    margin-bottom: 20px;
}

.avatarName {
    text-transform: uppercase;
    font-size: 25px;
}

.avatarRole {
    font-size: 22px;
}

.avatarMajor {
    margin-bottom: 5px;
}

/* Contact Us */

#contactContainer {
    padding: 3cm;
    text-align: center;
}

#contactTitle {
    font-size: 40px;
}

#contactGetInTouch {
    margin-top: 30px;
    font-size: 30px;
}

#contactEmail {
    margin-top: 20px;
}

#contactEmailLink{
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
}

#contactEmailLink:hover {
    text-decoration: underline;
}