/* Nav Bar */

div {
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
}

#brandingPhilosophy {
    width: 100%;
    height: 18cm;
    background-color: #c03030;
    background-image: linear-gradient(to bottom right, #375fb4 , #b83f63);
}

#navBar {
    padding-top: 30px;
    
}

#navbarNav {
    font-size: 20px;
    font-weight: 600;
}

#navbarNav a {
    color: white;
}

#brandName {
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    color: white;
}

#contactNav {
    font-size: 20px;
    line-height: 35px;
}

.btn-light {
    background-color: transparent;
    border-radius: 1cm;
    color: white;
    border-color: white;
    box-shadow: none;
} 

.btn-light:hover {
    background-color: white;
    border-color: transparent;
    color: black;
    box-shadow: none;
    
}

.btn-light:active {
    background-color: white;
    border-color: transparent;
    color: black;
    box-shadow: none;
}

.btn-light:focus {
    background-color: white;
    border-color: transparent;
    color: black;
    box-shadow: none;
}

/* Introduction */

#introduction {
    margin-left: 0.5cm;
    color: white;
}

#introductionText {
    padding-top: 100px;
}

#introductionText button {
    font-size: 20px;
}

#introductionDesc {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

#landingPage {
    padding-top: 80px;
    padding-left: 150px;
}

#landingPageImage {
    border-radius: 1cm;
}

/* Issue */

.Header {
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
}

#issuesHeader {
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    color: orange;
}

.HeaderTitle {
    font-size: 40px;
}

#issuesHeaderTitle {
    font-size: 40px;
}

.ContentBody {
    padding-top: 2cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

#issuesBody {
    padding-top: 2cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

.issueName {
    font-size: 20px;
    color: orange;
}

.issueName .col {
    font-size: 20px;
    line-height: 40px;
}

#googleMyMap {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#issueDetails .card:nth-child(n+2) {
    margin-top: 20px;
}

#issueDetails .card {
    border-radius: 0.3cm;
}

#issueDetails .col-3 {
    text-align: center;
}

#issueDetails i {
    color: orange;
}

#issueDetails h6 {
    color: rgb(173, 168, 168);
}

/* Client */

#clientContainer {
    margin-top: 3cm;
    width: 100%;
    height: 48cm;
    background-color: #F5FAFD;
}

#clientHeader{
    color: #375fb4;
}

#clientBody{
    padding-top: 3cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

#clientDetails .container {
    padding-top: 1cm;
}

#clientDetails .card:nth-child(n+2) {
    margin-top: 50px;
}

#clientDetails .card{
    height: 200px;
    background-color: #F5FAFD;
}

#clientDetails .col-3 {
    text-align: center;
}

#clientDetails i {
    color: #375fb4;
}

/* End Users */

#endUsersBody{
    padding-top: 3cm;
}

#endUsersHeader{
    color: #375fb4;
}

#endUsersDetails .card:nth-child(n+2) {
    margin-top: 45px;
}

#endUsersDetails .card{
    height: 120px;
    background-color: #F5FAFD;
}

#endUsersDetails .col-3 {
    text-align: center;
}

#endUsersDetails .col {
    padding-top: 0.5cm;
}

#endUsersDetails i {
    color: #375fb4;
}