/* Nav Bar */

#nucleusLogo {
    width: 50px;
    height: 50px;
    border-radius: 1cm;
    border: whitesmoke solid 2px;
}

.roboto {
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

.dosis {
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
}



#navBar {
    padding-top: 0px;
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

#navbarNav {
    font-size: 14px;
    font-weight: 600;
}


#navbarNav .dropdown-item {
    font-size: 16px;
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
    /* -webkit-font-smoothing: antialiased; */
} 

#brandName {
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
}

#contactNav {
    border-radius: 1cm;
    line-height: 27px;
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
    margin-top: -2px;
    font-weight: 800;
} 

#contactNav:hover {
    color: white;
} 

.btn-outline-light {
    background-color: transparent;
    border-radius: 1cm;
    color: white;
    border-color: white;
    outline: none !important;
    box-shadow: none;
} 

.btn-outline-light:hover, .btn-outline-light:active {
    background-color: white;
    border-color: transparent;
    color: black;
    outline: none !important;
    box-shadow: none;
}

#navbarNav > .mx-auto > li {
    margin-left: 1cm;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(172, 164, 164)
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(250, 250, 250);
    text-decoration: underline;
}

.dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-item {
    height: 1cm;
}

.dropdown-item:hover {
    background-color: #0C2340;
    color: white;
}


/* Introduction */

#brandingPhilosophy {
    width: 100%;
    height: 15cm;
    background-color: #0C2340;
    /* #c03030; */
    /* background-image: linear-gradient(to bottom right, #375fb4 , #b83f63); */
}

#introduction {
    color: white;
}

#introductionText {
    padding-left: 30px;
    padding-top: 100px;
}

#introductionText h1 {
    font-size: 50px;
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
}

#introductionText button {
    font-size: 18px;
}

#introductionDesc {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

#landingPage {
    padding-left: 2cm;
    box-shadow: 5px;
}

/* Client */

#clientContainer {
    margin-top: 6cm;
}

.clientHeader{
    font-size: 40px;
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
    color: #375fb4;
    margin-bottom: 1.3cm;
}

#directClient i {
    color: #375fb4
}

#directClient h3 {
    margin-bottom : 15px;
    font-family: "Dosis", "Helvetica", Arial, sans-serif;
}

/* Why this app */
#whyThisAppContent {
    padding-top: 2cm;
}

#whyThisAppHeader {
    font-size: 40px;
    margin-bottom: 70px;
}

.reasonIconHeader{
    margin-bottom: 30px;
    color: #375fb4;
}

.reasonHeader{
    font-size: 25px;
    font-family: "Dosis", "Helvetica", Arial, sans-serif;

}

.reasonBody {
    font-size: 15px;
    width: 90%;
    /* text-align: justify; */
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

/* User Interface */

#UIContainer {
    margin-bottom: 3cm;

}

#UICarousel {
    margin-top: 2cm;
    background-color: #F5FAFD;
    border-radius: 1cm;
    height: 18cm;
}

#UICarousel li {
    background-color : rgb(172, 164, 164);
}

#UICarousel li.active {
    background-color : #0C2340
}

.carousel-inner .row{
    margin-left: 3.3cm;
}

.imgDesc {
    font-size: 18px;
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
    font-weight: 800;
    margin-top: -1cm
}

/* Issue */

#issuesContainer {
    margin-top:3cm;
    margin-bottom: 3cm;
}


#issuesHeader {
    padding-top: 80px;
    padding-left: 20%;
    padding-right: 20%;
    color: orange;
}

.HeaderTitle {
    font-size: 40px;
}

#issuesHeaderTitle {
    font-size: 40px;
}

.ContentBody {
    padding-top: 2cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

#issuesBody {
    padding-top: 2cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

.issueName {
    font-size: 20px;
    color: orange;
}

.issueName .col {
    font-size: 20px;
    line-height: 40px;
}

#googleMyMap {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}

#issueDetails .card:nth-child(n+2) {
    margin-top: 20px;
}

#issueDetails .card {
    border-radius: 0.3cm;
}

#issueDetails .col-3 {
    text-align: center;
}

#issueDetails i {
    color: orange;
}

#issueDetails h6 {
    color: rgb(173, 168, 168);
}


/* End Users */

#endUsersContainer {
    margin-bottom: 3cm;
}

#endUsersBody{
    padding-top: 3cm;
}

#endUsersHeader{
    color: #375fb4;
}

#endUsersDetails .card:nth-child(n+2) {
    margin-top: 45px;
}

#endUsersDetails .card{
    height: 120px;
    /* background-color: #F5FAFD; */
}

#endUsersDetails .col-3 {
    text-align: center;
}

#endUsersDetails .col {
    padding-top: 0.5cm;
}

#endUsersDetails i {
    color: #375fb4;
}

/* Mission Vision */
.aboutNucleus {
    margin-bottom: 3cm;
}

.aboutNucleus .HeaderTitle {
    margin-bottom: 2cm;
}

.aboutNucleus .roboto {
    font-size: 18px;
}

/* Meet Our Team */
.annotation {
    color: rgb(173, 168, 168);
    font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

#meetOurTeamBody {
    margin-top : 3cm;
}

#meetOurTeamBody .card {
    border-radius: 0.5cm;
}

#meetOurTeamBody img {
    border-radius: 5cm;
    border: whitesmoke solid 3px;
}

.avatarName {
    font-weight: 900;
    padding-top: 20px;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.memberRole {
    font-size: 18px;
}

.memberMajor {
    font-size: 15px;
}

.memberUni {
    margin-top: 5px;
    font-size: 15px;
}

.memberInfo {
    margin-top: 20px;
    margin-left: 20px;
}

#meetOurTeamContainer {
    margin-top: 3cm;
    margin-bottom: 3cm;
}


/* Contact Us */

#contactContainer {
    padding: 3cm;
    text-align: center;
}

#contactTitle {
    font-size: 40px;
}

#contactGetInTouch {
    margin-top: 30px;
    font-size: 30px;
}

#contactEmail {
    margin-top: 20px;
}

#contactEmailLink{
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
}

#contactEmailLink:hover {
    text-decoration: underline;
}